body {
  background: linear-gradient(90deg, #010101, #0c141c);
  font-family: Helvetica;
  color: #e6e6e6;
}
div {
  border-radius: 5px;
  padding: 5% 0;
}
div.container {
  background-color: #1c1c1c;
  
}
